html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px; /* bottom = footer height */
    background: url(../img/bg-site.png) center fixed no-repeat;
    background-size: cover;
}

body {font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300;}

.left {float: left;}
.right {float: right;}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.watermark-wrapper {width: 960px; margin: 0 auto;}
