html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px; /* bottom = footer height */
    background: url(../img/bg-site.jpg) center fixed no-repeat;
    background-size: cover;
}

body {font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300;}

.left {float: left;}
.right {float: right;}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.watermark-wrapper {width: 960px; margin: 0 auto;}
.disabled {opacity: .5; pointer-events: none;}
.danger {
	position: fixed;
	left: 0;
	right: 0;
	padding: 15px;
	background: #f97e76;
	color: white;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	z-index: 9999;
	display: none;
}
.danger__close {
	font-size: 11px;
	cursor: pointer;
	opacity: .5;
	line-height: 22px;
}