html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px; /* bottom = footer height */
    background: url(../img/bg-site.png) center fixed no-repeat;
    background-size: cover;
}

body {font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300;}

.left {float: left;}
.right {float: right;}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.watermark-wrapper {width: 960px; margin: 0 auto;}

.watermark-wrapper__window {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 80px;
    overflow: auto;
}
.watermark-wrapper__window:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}
