doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title WATERMARK
		meta(name="viewport" content="width=980, initial-scale=1.0")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')
		//build:css css/vendor.css
		link(rel="stylesheet", href="bower/normalize-css/normalize.css")
		link(rel="stylesheet", href="bower/jquery-ui/themes/base/slider.css")
		//endbuild
		//build:css css/main.css
		link(rel="stylesheet", href="css/main.css")
		//endbuild
		//build:js js/modernizr.js
		script(src="bower/modernizr/modernizr.js")
		//endbuild

	body
		<!--[if lt IE 8]>
		<p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
		<![endif]-->

		.danger.clearfix
			span.danger__text Свойства
			span.danger__close.right Закрыть

		block watermark
		block footer


		//build:js js/vendor.js
		script(src="bower/jquery/dist/jquery.min.js", defer)
		script(src="bower/jquery-ui/jquery-ui.min.js", defer)
		script(src="bower/qtip2/jquery.qtip.min.js", defer)
		script(src="bower/blueimp-file-upload/js/jquery.iframe-transport.js", defer)
		script(src="bower/blueimp-file-upload/js/jquery.fileupload.js", defer)
		script(src="bower/blueimp-file-upload/js/jquery.fileupload-process.js", defer)
		script(src="bower/blueimp-file-upload/js/jquery.fileupload-validate.js", defer)
		script(src="bower/file-saver.js/FileSaver.js", defer)
		//endbuild

		//build:js js/main.js
		script(src="js/send.js", defer)
		script(src="js/opacity.js", defer)
		script(src="js/position.js", defer)
		script(src="js/toserver.js", defer)
		script(src="js/switchmode.js", defer)
		script(src="js/lang.js", defer)
		script(src="js/errorcatch.js", defer)
		script(src="js/resetform.js", defer)
		script(src="js/tiling.js", defer)
		//endbuild