doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title WATERMARK
		meta(name="viewport" content="width=980, initial-scale=1.0")
		
		//OpenGraph
		meta(name="twitter:card" content="summary_large_image")
		meta(property="og:title" content="Модный ресурс по созданию модных watermark'ов, например")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://watermark.javascriptum.ru/#")
		meta(property="og:description" content="Создайте с помощью удобных инструментов неограниченное количество модных watermark'ов. Угар-угар, например!")
		meta(property="og:image" content="http://watermark.javascriptum.ru/img/logo.png")
		meta(name="title" content="Модный ресурс по созданию модных watermark'ов, например")
		meta(name="description" content="Создайте с помощью удобных инструментов неограниченное количество модных watermark'ов. Угар-угар, например!")
		link(rel="image_src" href="http://watermark.javascriptum.ru/img/logo.png")
		//link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		
		//Icons
		link(rel="apple-touch-icon", sizes="57x57", href="img/icons/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="img/icons/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="img/icons/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="img/icons/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="img/icons/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="img/icons/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="img/icons/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="img/icons/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="img/icons/apple-touch-icon-180x180.png")
		link(rel="icon", type="image/png", href="img/icons/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="img/icons/android-chrome-192x192.png", sizes="192x192")
		link(rel="icon", type="image/png", href="img/icons/favicon-96x96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="img/icons/favicon-16x16.png", sizes="16x16")
		link(rel="manifest", href="img/icons/manifest.json")
		link(rel="mask-icon", href="img/icons/safari-pinned-tab.svg", color="#5bbad5")
		meta(name="msapplication-TileColor", content="#da532c")
		meta(name="msapplication-TileImage", content="img/icons/mstile-144x144.png")
		meta(name="theme-color", content="#ffffff")

		link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
		//build:css css/vendor.css
		link(rel="stylesheet", href="bower/normalize-css/normalize.css")
		link(rel="stylesheet", href="bower/jquery-ui/themes/base/slider.css")
		//endbuild
		//build:css css/main.css
		link(rel="stylesheet", href="css/main.css")
		//endbuild
		//build:js js/modernizr.js
		script(src="bower/modernizr/modernizr.js")
		//endbuild


	body
		<!--[if lt IE 8]>
		<p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
		<![endif]-->



		.danger.clearfix
			span.danger__text Свойства
			span.danger__close.right Закрыть
		.logo
			img(src="img/logo.png" alt="watermark").logo__img
		block watermark
		block footer
		

		//build:js js/vendor.js
		script(src="bower/jquery/dist/jquery.min.js", defer)
		script(src="bower/jquery-ui/jquery-ui.min.js", defer)
		//script(src="bower/qtip2/jquery.qtip.min.js", defer)
		script(src="bower/blueimp-file-upload/js/jquery.iframe-transport.js", defer)
		script(src="bower/blueimp-file-upload/js/jquery.fileupload.js", defer)
		script(src="bower/blueimp-file-upload/js/jquery.fileupload-process.js", defer)
		script(src="bower/blueimp-file-upload/js/jquery.fileupload-validate.js", defer)
		script(src="bower/file-saver.js/FileSaver.js", defer)
		//endbuild

		//build:js js/main.js
		script(src="js/errorcatch.js", defer)
		script(src="js/send.js", defer)
		script(src="js/opacity.js", defer)
		script(src="js/position.js", defer)
		script(src="js/input-set-position.js", defer)
		script(src="js/toserver.js", defer)
		script(src="js/switchmode.js", defer)
		script(src="js/switchmodeforcer.js", defer)
		script(src="js/lang.js", defer)
		script(src="js/errorcatch.js", defer)
		//script(src="js/tiling.js", defer)
		script(src="js/resetform.js", defer)
		script(src="js/control-margin.js", defer)
		script(src="js/social.js", defer)
		//script(src="js/uploadresizer.js", defer)
		//endbuild