doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title WATERMARK
		meta(name="viewport" content="width=980, initial-scale=1.0")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href="bower/normalize-css/normalize.css")
		link(rel="stylesheet", href="bower/jquery-ui/themes/base/slider.css")
		link(rel="stylesheet", href="css/main.css")
		script(src="bower/modernizr/modernizr.js")
	body
		<!--[if lt IE 8]>
		<p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
		<![endif]-->

		block watermark
		block footer

		script(src="bower/jquery/dist/jquery.min.js", defer)
		script(src="bower/jquery-ui/jquery-ui.min.js", defer)
		script(src="bower/qtip2/jquery.qtip.min.js", defer)
		script(src="bower/blueimp-file-upload/js/jquery.iframe-transport.js", defer)
		script(src="bower/blueimp-file-upload/js/jquery.fileupload.js", defer)
		//script(src="js/vendor.js", defer)
		script(src="js/send.js", defer)
		script(src="js/opacity.js", defer)
