@charset "UTF-8";
html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 50px;
  /* bottom = footer height */
  background: url(../img/bg-site.jpg) center fixed no-repeat;
  background-size: cover; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.watermark-wrapper {
  width: 960px;
  margin: 0 auto; }

.disabled {
  opacity: .5;
  pointer-events: none; }

.danger {
  position: fixed;
  left: 0;
  right: 0;
  padding: 15px;
  background: #f97e76;
  color: white;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  z-index: 9999;
  display: none; }

.danger__close {
  font-size: 11px;
  cursor: pointer;
  opacity: .5;
  line-height: 22px; }

.watermark-left {
  width: 702px;
  background: #605c60;
  padding: 25px;
  box-sizing: border-box;
  margin: 50px 0; }

.image-block__title {
  margin-bottom: 60px; }

.image-block__title-text {
  font-size: 36px;
  line-height: 38px;
  color: #fff;
  font-weight: 100;
  vertical-align: top;
  margin: 0; }

.image-block__img {
  width: 652px;
  height: 535px;
  max-height: 535px;
  background: #fff;
  overflow: hidden; }

.main-image-insert {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 652px;
  max-height: 535px;
  display: none; }
  .main-image-insert img {
    max-width: 652px;
    max-height: 535px; }

.watermark-insert {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0;
  cursor: move;
  display: none;
  z-index: 99; }

.watermark-right {
  width: 258px;
  background: #f1f1f5;
  padding: 30px 0 25px 0;
  box-sizing: border-box;
  margin: 50px 0; }

/*------------title-right-------*/
.settings__title {
  text-align: center;
  font-size: 26px;
  line-height: 28px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #2e3641;
  margin-bottom: 40px; }

/*---------╤А╨░╨╖╨┤╨╡╨╗╨╕╤В╨╡╨╗╤М ---------*/
.delimiter {
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #f97e76;
  position: relative;
  margin-bottom: 17px; }

.delimiter:before, .delimiter:after {
  content: '';
  position: absolute;
  left: 120px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid #f97e76; }

.delimiter:after {
  border-top: 10px solid #f1f1f5;
  bottom: -19px; }

/*------------input-file--------*/
.form-input-box {
  margin-bottom: 27px; }

.form__title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #3b424d;
  display: block;
  margin: 0 0 10px 0; }

.form-input-style {
  width: 220px;
  height: 26px;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  border-radius: 4px;
  line-height: 14px;
  overflow: hidden; }

.form-input__origin {
  position: relative;
  cursor: pointer;
  background: #f1f1f5;
  vertical-align: middle; }

.form-input__origin-file {
  position: absolute;
  top: 0;
  left: -9999px; }

.form-input__fake {
  width: 166px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  left: 1px;
  right: 52px;
  padding: 5px;
  background: #f1f1f5;
  border: 1px solid #9eb2c0;
  border-right: 0;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9eb2c0;
  font-size: 12px; }

.form-input__origin-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 175px;
  overflow: hidden;
  cursor: pointer;
  background: url("../img/input-file.png") center center no-repeat; }

/*------------position--------*/
.form-position .form__title, .form__title-opacity {
  margin-bottom: 30px; }

.position__adjust {
  height: 102px;
  margin-bottom: 36px; }

.position__adjust-radio {
  width: 102px;
  height: 102px;
  box-sizing: border-box;
  margin-left: 5px; }

.position__adjust-sett {
  max-width: 100px; }

.label-position {
  margin-left: -5px;
  margin-bottom: -5px;
  box-sizing: border-box;
  padding: 0;
  display: inline-block;
  height: 34px;
  width: 34px;
  position: relative;
  background: #dbe1e8;
  border: 1px solid #9eb2c0; }

.label-position:hover, .label-position:active, .label-position:focus {
  background: #f97e76; }

.label-position_first {
  border-top-left-radius: 4px; }

.label-position_third {
  border-top-right-radius: 4px; }

.label-position_seventh {
  border-bottom-left-radius: 4px; }

.label-position_ninth {
  border-bottom-right-radius: 4px; }

.radio-position {
  position: absolute;
  left: -9999px; }

.position__adjust__sett-x, .position__adjust__sett-y {
  height: 45px;
  margin-bottom: 12px;
  position: relative;
  padding-left: 20px; }

.position__adjust__sett-x {
  margin-bottom: 12px; }

.sett-x__box, .sett-y__box {
  height: 45px;
  box-sizing: border-box; }

.sett-x, .sett-y {
  width: 45px;
  height: 45px;
  border: 1px solid #9eb2c0;
  border-radius: 4px;
  background: #f1f1f5;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  color: #444a53;
  box-sizing: border-box; }

.sett-up, .sett-down {
  display: block;
  height: 21px;
  width: 21px;
  cursor: pointer;
  border: none;
  margin-left: 6px; }

.sett-up {
  background: url(../img/up.png) no-repeat top; }

.sett-down {
  background: url(../img/down.png) no-repeat bottom; }

.label-x, .label-y {
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 0; }

.out {
  position: absolute;
  left: -9999px; }

/*--------------opacity----------*/
.form-opacity {
  margin-bottom: 56px; }

/*-------buttons---------------*/
.buttons {
  margin-bottom: 4px; }

.button__left {
  margin-left: 10px; }

.button__right {
  margin-right: 10px; }

.button__reset, .button__submit {
  width: 100px;
  height: 42px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  border: none;
  color: #f1f1f5;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400; }

.button__reset {
  background: #c1cfd9; }

.button__submit {
  background-color: #f97e76;
  display: block;
  padding: 10px 0;
  text-align: center;
  text-decoration: none; }

.button__submit:disabled {
  opacity: .2;
  background: #f97e76 url(../img/ajax-loader.gif) no-repeat center center; }

.button__reset:hover {
  border: 1px solid #a4b2bb;
  border-top: 2px solid #a4b2bb;
  background: #b0bdc6;
  background: -moz-linear-gradient(top, #b0bdc6 0%, #c0ced8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0bdc6), color-stop(100%, #c0ced8));
  background: -webkit-linear-gradient(top, #b0bdc6 0%, #c0ced8 100%);
  background: -o-linear-gradient(top, #b0bdc6 0%, #c0ced8 100%);
  background: -ms-linear-gradient(top, #b0bdc6 0%, #c0ced8 100%);
  background: linear-gradient(to bottom, #b0bdc6 0%, #c0ced8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0bdc6', endColorstr='#c0ced8',GradientType=0 ); }

.button__submit:hover {
  border: 1px solid #e3736c;
  border-top: 2px solid #e3736c;
  background: #e3736c;
  background: -moz-linear-gradient(top, #e3736c 0%, #f97e76 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3736c), color-stop(100%, #f97e76));
  background: -webkit-linear-gradient(top, #e3736c 0%, #f97e76 100%);
  background: -o-linear-gradient(top, #e3736c 0%, #f97e76 100%);
  background: -ms-linear-gradient(top, #e3736c 0%, #f97e76 100%);
  background: linear-gradient(to bottom, #e3736c 0%, #f97e76 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3736c', endColorstr='#f97e76',GradientType=0 ); }

/*---------placeholder---------*/
::-webkit-input-placeholder {
  color: #9eb2c0;
  font-size: 12px; }

::-moz-placeholder {
  color: #9eb2c0;
  font-size: 12px; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #9eb2c0;
  font-size: 12px; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #9eb2c0;
  font-size: 12px; }

/*-------- additions ---------*/
.slider {
  width: 200px;
  background: #9eb2c0;
  height: 3px;
  margin-bottom: 30px; }

.ui-slider-handle.ui-state-default {
  cursor: pointer;
  height: 23px;
  width: 23px;
  margin-left: -10px;
  margin-top: -5px;
  border: 0;
  border-radius: 50%;
  box-shadow: 1px 0 1px rgba(50, 50, 50, 0.1);
  background: transparent url(../img/slider-handler.png) no-repeat center center; }

.ui-slider-handle.ui-state-default:hover {
  background: transparent url(../img/slider-handler-hover.png) no-repeat center center; }

.ui-widget-header {
  background: #dbe1e8; }

.form-block {
  float: right; }

.form__view-link_single {
  background-image: url(../img/spritesheet-block.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 19px;
  height: 19px;
  background-position: -20px -139px;
  margin-right: 10px; }
  .form__view-link_single:active, .form__view-link_single:hover, .form__view-link_single:focus, .form__view-link_single.active {
    width: 19px;
    height: 19px;
    background-position: -20px -198px; }

.form__view-link_tile {
  background-image: url(../img/spritesheet-block.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 19px;
  height: 19px;
  background-position: -20px -257px; }
  .form__view-link_tile:active, .form__view-link_tile:hover, .form__view-link_tile:focus, .form__view-link_tile.active {
    width: 19px;
    height: 19px;
    background-position: -20px -316px; }

.linePositions {
  display: none; }

.position {
  display: inline-block;
  max-width: 170px; }

.footer {
  text-align: center;
  font-size: 12px;
  color: #f1f1f5;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

/*------language buttons-------*/
.languages {
  position: fixed;
  left: 0;
  top: 102px; }

.languages__list, .like__list, .like__socials__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.languages__item {
  width: 43px;
  height: 35px;
  background: #fff;
  opacity: .7;
  box-sizing: border-box;
  padding-top: 6px; }

.rus {
  border-bottom: 1px solid #a5a7ac; }

.languages__link {
  text-decoration: none;
  font-size: 20px;
  line-height: 22px;
  color: #52575f;
  opacity: .6; }

.languages__link:hover, .languages__link:active, .languages__link:focus, .languages__link_active {
  opacity: 1; }

/*------like socials-------*/
.like {
  width: 88px;
  position: fixed;
  left: -44px;
  top: 190px;
  transition: .3s; }

.like__item, .like__socials__item {
  width: 44px;
  height: 41px;
  background: #f1f1f5;
  opacity: .7; }

.like:hover {
  left: 0;
  transition: .3s; }

.like__link {
  display: block;
  width: 44px;
  height: 41px;
  text-indent: -9999px; }

.like__link__like {
  background: url(../img/like.png) center center no-repeat; }

.like__link__like:hover {
  background: url(../img/like-hover.png) center center no-repeat; }

.like__link__fb {
  background: url(../img/fb.png) center center no-repeat; }

.like__link__fb:hover {
  background: url(../img/fb-hover.png) center center no-repeat; }

.like__link__tw {
  background: url(../img/tw.png) center center no-repeat; }

.like__link__tw:hover {
  background: url(../img/tw-hover.png) center center no-repeat; }

.like__link__vk {
  background: url(../img/vk.png) center center no-repeat; }

.like__link__vk:hover {
  background: url(../img/vk-hover.png) center center no-repeat; }