html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 50px;
  /* bottom = footer height */ }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.watermark-wrapper {
  width: 960px;
  margin: 0 auto; }

.watermark-left {
  width: 702px; }

.watermark__container {
  width: 653px;
  height: 535px;
  background: #cccccc;
  position: relative; }

.watermark {
  display: block; }

<<<<<<< HEAD
.center__top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto; }

.watermark-right {
  width: 257px; }

.position__box {
  list-style: none; }
  .position__box .position__box-label {
    background: #dbe1e8;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px; }
  .position__box .position__box-input {
    position: absolute;
    left: -9999px; }

.input__block-y {
  display: inline-block; }

.input__block-x {
  display: inline-block; }

.footer {
  text-align: center;
  font-size: 14px;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }