.watermark-left {width: 702px;}
.watermark__container{
	width: 653px;
	height:535px;
	background: #cccccc;
	position: relative;
}
.watermark{
	display: block;
}
.center__top{
	position: absolute;
	left:0;
	right:0;
	top:0;
	margin:auto;
}