.watermark-right.right
	h2.settings__title Настройки
	form.settings
		.form-input.delimiter
			.form-input-box
				label(for="").form__title Исходное изображение
				.form-input__origin.form-input-style
					input(name="files[]" type="file"  id="baseImg").form-input__origin-file
					.form-input__fake.form-input__fake-base-img(qtip-content="Вы не выбрали изображение", qtip-position="left")
					label(for="baseImg").form-input__origin-icon
			.form-input-box
				label(for="").form__title Водяной знак
				.form-input__origin.form-input-style
					input(name="files[]" type="file" id="watermark" disabled).form-input__origin-file
					.form-input__fake.form-input__fake-watermark(qtip-content="Вы не выбрали изображение", qtip-position="left")
					label(for="watermark").form-input__origin-icon
		.form-position.delimiter
			label.form__title Положение
			.position__adjust
				.position__adjust-radio.left
					- var items = ["topLeft", "topCenter", "topRight", "centerLeft", "centerCenter", "centerRight", "bottomLeft", "bottomCenter", "bottomRight"]
					each item in items
						label(for="", id="", class="label-position label-position_" + item )
							span.out #{item}
							input(type="radio" name="position" value="#{item}" id="").radio-position
				.position__adjust-sett.right
					.position__adjust__sett-x
						label(for="inputX", id="").label-x X
						input(type="" value="0" id="inputX").sett-x.left
						.sett-x__box.right
							.sett-up
								span.out Вверх
							.sett-down
								span.out Вниз
					.position__adjust__sett-y
						label(for="inputY", id="").label-y Y
						input(type="" value="0" id="inputY").sett-y.left
						.sett-y__box.right
							.sett-up
								span.out Вверх
							.sett-down
								span.out Вниз
		.form-opacity.delimiter
			label(for="", id="").form__title.form__title-opacity Прозрачность
			.slider(id="slider", data-)
		.buttons.clearfix
			.button__left.left
				button(type="reset" id="restBtn").button__reset Сброс
			.button__right.right
				button(name="submit" type="submit" id="submitBtn").button__submit Скачать
