script(src="../../../js/_vendors/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/draggabilly/1.2.0/draggabilly.pkgd.min.js")
script(src="../../../js/position.js")
footer.footer
	.copyright &#169;2015. Это сайт команды студентов Loftschool. Пожалуйста, не копируйте и не воруйте его.