footer.footer
	.copyright &#169;2015. Это сайт команды студентов Loftschool. Пожалуйста, не копируйте и не воруйте его.
	.languages
		ul.languages__list
			li.languages__item.rus
				a(href="#" alt="РУС" id="rus").languages__link РУС
			li.languages__item.eng
				a(href="#" alt="ENG" id="eng").languages__link ENG
	.like.clearfix
		ul.like__list.right
			li.like__item.right
				a(href="#" alt="Поставьте лайк").like__link.like__link__like Like us
			li.like__item.left
				a(href="#" alt="FB").like__link.like__link__fb facebook.com
		ul.like__socials__list.left
			li.like__socials__item
				a(href="#" alt="TW").like__link.like__link__tw twitter.com
			li.like__socials__item
				a(href="#" alt="VK").like__link.like__link__vk vk.com

