footer.footer
	.copyright &#169;2015. Это сайт команды студентов Loftschool. Пожалуйста, не копируйте и не воруйте его.
		.languages
			ul.languages__list
				li.languages__item.rus
					a(href="#" alt="РУС").languages__link РУС
				li.languages__item.eng
					a(href="#" alt="ENG").languages__link ENG
		.like
			
		.socials