.watermark-left.left
	.image-block__title
		h1.image-block__title-text Генератор водяных знаков
	.main-image-insert(id="mainImageInsert")
		.image-block__img Изображение
		.watermark-insert(id="watermarkInsert")