.watermark-left {
  width: 702px;
  background: #605c60;
  padding: 25px;
  box-sizing: border-box;
  margin: 50px 0;
}
.image-block__title{
  margin-bottom: 60px;
}
.image-block__title-text {
  font-size: 36px;
  line-height: 38px;
  color: #fff;
  font-weight: 300;
  vertical-align: top;
  margin: 0;
}
.image-block__img {
  width: 100%;
  height: 535px;
  background: #fff;
}
.main-image-insert {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.watermark-insert {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0;
  cursor: move;
}