.watermark-left.left
	.image-block__title
		h1.image-block__title-text Генератор водяных знаков
	.image-block__img
		.main-image-insert(id="mainImageInsert")
			.watermark-insert(id="watermarkInsert")