.watermark-left.left
	.image-block__title
		h1.image-block__title-text.maintitle Генератор водяных знаков
	.image-block__img
		.main-image-insert(id="mainImageInsert")
			img(src="img/test/room.jpg").main-img-inserted
			.watermark-insert(id="watermarkInsert")
				img(src="img/test/stewie.png").water-img-inserted